[submodule "lodepng"]
	path = lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "cpp-base64"]
	path = cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "librw"]
	path = librw
	url = https://github.com/aap/librw.git
[submodule "librwgta"]
	path = librwgta
	url = https://github.com/aap/librwgta.git
